site_name: TNH Scholar Documentation
repo_url: https://github.com/aaronksolomon/tnh-scholar

theme:
  name: material

plugins:
  - search
  - gen-files:
      scripts:
        - scripts/sync_root_docs.py
        - scripts/generate_mkdocs_nav.py
        - scripts/generate_cli_docs.py
  - literate-nav:
      nav_file: docs-nav.md
  - mkdocstrings:
      handlers:
        python:
          paths: [src]
          options:
            docstring_style: google
            show_source: true
            show_root_heading: true
